<nav class="navbar bg-light">
    <ul class="nav">
        <li class="nav-item">
            <NavLink class="nav-link" href="/">Home</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/fetchproducts">Products</NavLink>
        </li>
    </ul>
</nav>